<header>
    <div id="back" class="btn" (click)="goBack()">뒤로</div>
    <h1>To do Create</h1>
</header>

<div class="container">
    <div class="btns">
        <div id="todoCreate" class="btn">등록</div>
    </div>

    <div class="todo-forms">
        <div class="item">
            <div class="title">제목</div>
            <input type="text" placeholder="제목을 입력해주세요." />
        </div>

        <div class="item">
            <div class="title">내용</div>
            <textarea placeholder="내용을 입력해주세요."></textarea>
        </div>

        <div class="item">
            <div class="title">시작일시</div>
            <input type="datetime-local" />
        </div>

        <div class="item">
            <div class="title">종료일시</div>
            <input type="datetime-local" />
        </div>
    </div>
</div>