<header>
    <div id="back" class="btn" (click)="goBack()">뒤로</div>
    <h1>To do Trash</h1>
</header>

<div class="container">
    <div class="filters">
        <div class="btn">제목 : 오름차순</div>
    </div>
    <div class="todo-list">
        <div class="item">
            <div id="todoDetail" class="content">치킨 먹고 싶다</div>
            <div class="action-btns">
                <div class="btn">복구</div>
            </div>
        </div>
        <div class="item">
            <div class="content">운동하기</div>
            <div class="action-btns">
                <div class="btn">복구</div>
            </div>
        </div>
        <div class="item">
            <div class="content">잠 자기</div>
            <div class="action-btns">
                <div class="btn">복구</div>
            </div>
        </div>
    </div>
</div>