<ion-app>
  <ion-split-pane #splitPaneRef contentId="main-content">

    <ion-menu #sideMenuRef contentId="main-content" type="overlay">
      <ion-content>
        <ion-list id="inbox-list">
          <ion-list-header>Inbox</ion-list-header>
          <ion-note>hi&#64;ionicframework.com</ion-note>

          @for (p of appPages; track p; let i = $index) {
          <ion-menu-toggle auto-hide="false">
            <ion-item routerDirection="root" [routerLink]="[p.url]" lines="none" detail="false"
              routerLinkActive="selected">
              <ion-icon aria-hidden="true" slot="start" [ios]="p.icon" [md]="p.icon"></ion-icon>
              <ion-label>{{ p.title }}</ion-label>
            </ion-item>
          </ion-menu-toggle>
          }
        </ion-list>
      </ion-content>

    </ion-menu>

    <!-- 사이드 메뉴 축소 -->
    <div class="col-menu" #colMenuRef>
      <ion-toolbar (click)="setMenuStatus(!menuFlag)">
        <ion-icon *ngIf="menuFlag == true" name="caret-back-outline"></ion-icon>
        <ion-icon *ngIf="menuFlag == false" name="caret-forward-outline"></ion-icon>
      </ion-toolbar>
    </div>
    <ion-router-outlet id="main-content"></ion-router-outlet>
  </ion-split-pane>
</ion-app>